schemas/ararschemabkup04142009.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 rel. 3 sp2 (http://www.altova.com) by Jason Ash (University of Kansas) -->
<xs:schema xmlns="http://matisse.kgs.ku.edu/arar/schema" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://matisse.kgs.ku.edu/arar/schema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="v1.0">
	<xs:element name="ArArModel">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Sample">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PreferredAge">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="PreferredExperimentsIncluded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="PreferredExperiment" maxOccurs="unbounded">
														<xs:complexType>
															<xs:attribute name="experimentIdentifier" use="required"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="preferredAge" use="required"/>
									<xs:attribute name="preferredAgeSigma" use="required"/>
									<xs:attribute name="preferredAgeType" use="required"/>
									<xs:attribute name="preferredAgeClassification" use="required"/>
									<xs:attribute name="preferredAgeReference" use="required"/>
									<xs:attribute name="preferredAgeDescription" use="optional"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="InterpretedAges" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="InterpretedAge" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="InterpretedExperimentsIncluded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="InterpretedExperiment" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:attribute name="experimentIdentifier" use="required"/>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="age" use="optional"/>
												<xs:attribute name="ageSigma" use="optional"/>
												<xs:attribute name="ageType" use="optional"/>
												<xs:attribute name="ageClassification" use="optional"/>
												<xs:attribute name="ageReference" use="optional"/>
												<xs:attribute name="description" use="optional"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Parameters" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Experiment" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Age" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="StepsInAgePlateau" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Step" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:attribute name="measurementNumber" use="required"/>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="StepsInTotalGasFusion" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Step" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:attribute name="measurementNumber" use="required"/>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="StepsInNormalIsochron" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Step" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:attribute name="measurementNumber" use="required"/>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="StepsInInverseIsochron" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Step" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:attribute name="measurementNumber" use="required"/>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="weightedPlateau40Ar39ArRatio" use="optional"/>
															<xs:attribute name="weightedPlateau40Ar39ArRatioSigma" use="optional"/>
															<xs:attribute name="weightedPlateauAge" use="optional"/>
															<xs:attribute name="weightedPlateauAgeSigma" use="optional"/>
															<xs:attribute name="weightedPlateauAgeSigmaInternal" use="optional"/>
															<xs:attribute name="weightedPlateauAgeSigmaExternal" use="optional"/>
															<xs:attribute name="weightedPlateauKCaRatio" use="optional"/>
															<xs:attribute name="weightedPlateauKCaRatioSigma" use="optional"/>
															<xs:attribute name="weightedPlateauKClRatio" use="optional"/>
															<xs:attribute name="weightedPlateauKClRatioSigma" use="optional"/>
															<xs:attribute name="weightedPlateauMSWD" use="optional"/>
															<xs:attribute name="weightedPlateauErrorMagnification" use="optional"/>
															<xs:attribute name="weightedPlateauWidth" use="optional"/>
															<xs:attribute name="weightedPlateauN" use="optional"/>
															<xs:attribute name="totalGasFusion40Ar39ArRatio" use="optional"/>
															<xs:attribute name="totalGasFusion40Ar39ArRatioSigma" use="optional"/>
															<xs:attribute name="totalGasFusionAge" use="optional"/>
															<xs:attribute name="totalGasFusionAgeSigma" use="optional"/>
															<xs:attribute name="totalGasFusionAgeSigmaInternal" use="optional"/>
															<xs:attribute name="totalGasFusionAgeSigmaExternal" use="optional"/>
															<xs:attribute name="totalGasFusionKCaRatio" use="optional"/>
															<xs:attribute name="totalGasFusionKCaRatioSigma" use="optional"/>
															<xs:attribute name="totalGasFusionKClRatio" use="optional"/>
															<xs:attribute name="totalGasFusionKClRatioSigma" use="optional"/>
															<xs:attribute name="totalGasFusionN" use="optional"/>
															<xs:attribute name="totalGasFusionMSWD" use="optional"/>
															<xs:attribute name="normalIsochron40Ar39ArRatio" use="optional"/>
															<xs:attribute name="normalIsochron40Ar39ArRatioSigma" use="optional"/>
															<xs:attribute name="normalIsochronAge" use="optional"/>
															<xs:attribute name="normalIsochronAgeSigma" use="optional"/>
															<xs:attribute name="normalIsochronAgeSigmaInternal" use="optional"/>
															<xs:attribute name="normalIsochronAgeSigmaExternal" use="optional"/>
															<xs:attribute name="normalIsochron40Ar36ArRatio" use="optional"/>
															<xs:attribute name="normalIsochron40Ar36ArRatioSigma" use="optional"/>
															<xs:attribute name="normalIsochronMSWD" use="optional"/>
															<xs:attribute name="normalIsochronErrorMagnification" use="optional"/>
															<xs:attribute name="normalIsochronConvergence" use="optional"/>
															<xs:attribute name="normalIsochronIterations" use="optional"/>
															<xs:attribute name="normalIsochronN" use="optional"/>
															<xs:attribute name="inverseIsochron40Ar39ArRatio" use="optional"/>
															<xs:attribute name="inverseIsochron40Ar39ArRatioSigma" use="optional"/>
															<xs:attribute name="inverseIsochronAge" use="optional"/>
															<xs:attribute name="inverseIsochronAgeSigma" use="optional"/>
															<xs:attribute name="inverseIsochronAgeSigmaInternal" use="optional"/>
															<xs:attribute name="inverseIsochronAgeSigmaExternal" use="optional"/>
															<xs:attribute name="inverseIsochron40Ar36ArRatio" use="optional"/>
															<xs:attribute name="inverseIsochron40Ar36ArRatioSigma" use="optional"/>
															<xs:attribute name="inverseIsochronMSWD" use="optional"/>
															<xs:attribute name="inverseIsochronErrorMagnification" use="optional"/>
															<xs:attribute name="inverseIsochronConvergence" use="optional"/>
															<xs:attribute name="inverseIsochronIterations" use="optional"/>
															<xs:attribute name="inverseIsochronN" use="optional"/>
															<xs:attribute name="ageDescription" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="Measurement" maxOccurs="unbounded">
														<xs:complexType>
															<xs:attribute name="measurementNumber" use="required"/>
															<xs:attribute name="measurementDateandTime" use="required"/>
															<xs:attribute name="temperature" use="required"/>
															<xs:attribute name="temperatureSigma" use="optional"/>
															<xs:attribute name="temperatureUnit" use="required"/>
															<xs:attribute name="heatingDuration" use="optional"/>
															<xs:attribute name="fraction40ArRadiogenic" use="optional"/>
															<xs:attribute name="fraction39ArPotassium" use="optional"/>
															<xs:attribute name="measuredAge" use="required"/>
															<xs:attribute name="measuredAgeSigma" use="required"/>
															<xs:attribute name="measuredKCaRatio" use="optional"/>
															<xs:attribute name="measuredKCaRatioSigma" use="optional"/>
															<xs:attribute name="measuredKClRatio" use="optional"/>
															<xs:attribute name="measuredKClRatioSigma" use="optional"/>
															<xs:attribute name="intercept36Ar" use="required"/>
															<xs:attribute name="intercept36ArSigma" use="required"/>
															<xs:attribute name="intercept36ArRegressionType" use="optional"/>
															<xs:attribute name="intercept37Ar" use="required"/>
															<xs:attribute name="intercept37ArSigma" use="required"/>
															<xs:attribute name="intercept37ArRegressionType" use="optional"/>
															<xs:attribute name="intercept38Ar" use="required"/>
															<xs:attribute name="intercept38ArSigma" use="required"/>
															<xs:attribute name="intercept38ArRegressionType" use="optional"/>
															<xs:attribute name="intercept39Ar" use="required"/>
															<xs:attribute name="intercept39ArSigma" use="required"/>
															<xs:attribute name="intercept39ArRegressionType" use="optional"/>
															<xs:attribute name="intercept40Ar" use="required"/>
															<xs:attribute name="intercept40ArSigma" use="required"/>
															<xs:attribute name="intercept40ArRegressionType" use="optional"/>
															<xs:attribute name="interceptUnit" use="optional"/>
															<xs:attribute name="blank36Ar" use="optional"/>
															<xs:attribute name="blank36ArSigma" use="optional"/>
															<xs:attribute name="blank37Ar" use="optional"/>
															<xs:attribute name="blank37ArSigma" use="optional"/>
															<xs:attribute name="blank38Ar" use="optional"/>
															<xs:attribute name="blank38ArSigma" use="optional"/>
															<xs:attribute name="blank39Ar" use="optional"/>
															<xs:attribute name="blank39ArSigma" use="optional"/>
															<xs:attribute name="blank40Ar" use="optional"/>
															<xs:attribute name="blank40ArSigma" use="optional"/>
															<xs:attribute name="blankUnit" use="optional"/>
															<xs:attribute name="correctedTotal40Ar39ArRatio" use="optional"/>
															<xs:attribute name="correctedTotal40Ar39ArRatioSigma" use="optional"/>
															<xs:attribute name="correctedTotal37Ar39ArRatio" use="optional"/>
															<xs:attribute name="correctedTotal37Ar39ArRatioSigma" use="optional"/>
															<xs:attribute name="correctedTotal36Ar39ArRatio" use="optional"/>
															<xs:attribute name="correctedTotal36Ar39ArRatioSigma" use="optional"/>
															<xs:attribute name="corrected40Ar39ArRatio" use="optional"/>
															<xs:attribute name="corrected40Ar39ArRatioSigma" use="optional"/>
															<xs:attribute name="corrected39Ar36ArRatio" use="optional"/>
															<xs:attribute name="corrected39Ar36ArRatioSigma" use="optional"/>
															<xs:attribute name="corrected40Ar36ArRatio" use="optional"/>
															<xs:attribute name="corrected40Ar36ArRatioSigma" use="optional"/>
															<xs:attribute name="corrected39Ar40ArRatio" use="optional"/>
															<xs:attribute name="corrected39Ar40ArRatioSigma" use="optional"/>
															<xs:attribute name="corrected36Ar40ArRatio" use="optional"/>
															<xs:attribute name="corrected36Ar40ArRatioSigma" use="optional"/>
															<xs:attribute name="corrCoefficient4036over3936" use="optional"/>
															<xs:attribute name="corrCoefficient3640over3940" use="optional"/>
															<xs:attribute name="corrected36ArAtmospheric" use="optional"/>
															<xs:attribute name="corrected36ArAtmosphericSigma" use="optional"/>
															<xs:attribute name="corrected36ArCalcium" use="optional"/>
															<xs:attribute name="corrected36ArCalciumSigma" use="optional"/>
															<xs:attribute name="corrected36ArChlorine" use="optional"/>
															<xs:attribute name="corrected36ArChlorineSigma" use="optional"/>
															<xs:attribute name="corrected37ArCalcium" use="optional"/>
															<xs:attribute name="corrected37ArCalciumSigma" use="optional"/>
															<xs:attribute name="corrected38ArAtmospheric" use="optional"/>
															<xs:attribute name="corrected38ArAtmosphericSigma" use="optional"/>
															<xs:attribute name="corrected38ArCalcium" use="optional"/>
															<xs:attribute name="corrected38ArCalciumSigma" use="optional"/>
															<xs:attribute name="corrected38ArChlorine" use="optional"/>
															<xs:attribute name="corrected38ArChlorineSigma" use="optional"/>
															<xs:attribute name="corrected38ArPotassium" use="optional"/>
															<xs:attribute name="corrected38ArPotassiumSigma" use="optional"/>
															<xs:attribute name="corrected39ArCalcium" use="optional"/>
															<xs:attribute name="corrected39ArCalciumSigma" use="optional"/>
															<xs:attribute name="corrected39ArPotassium" use="optional"/>
															<xs:attribute name="corrected39ArPotassiumSigma" use="optional"/>
															<xs:attribute name="corrected40ArAtmospheric" use="optional"/>
															<xs:attribute name="corrected40ArAtmosphericSigma" use="optional"/>
															<xs:attribute name="corrected40ArPotassium" use="optional"/>
															<xs:attribute name="corrected40ArPotassiumSigma" use="optional"/>
															<xs:attribute name="corrected40ArRadiogenic" use="optional"/>
															<xs:attribute name="corrected40ArRadiogenicSigma" use="optional"/>
															<xs:attribute name="measurementDescription" use="optional"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="experimentIdentifier" use="required"/>
												<xs:attribute name="experimentType" use="required"/>
												<xs:attribute name="sampleMaterial" use="required"/>
												<xs:attribute name="sampleTreatment" use="optional"/>
												<xs:attribute name="sampleWeight" use="optional"/>
												<xs:attribute name="extractionMethod" use="optional"/>
												<xs:attribute name="massSpectrometer" use="optional"/>
												<xs:attribute name="laboratory" use="required"/>
												<xs:attribute name="laboratoryReference" use="optional"/>
												<xs:attribute name="acquisitionSoftware" use="optional"/>
												<xs:attribute name="dataReductionSoftware" use="optional"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="material" use="required"/>
									<xs:attribute name="grainSizeFraction" use="optional"/>
									<xs:attribute name="iGSNChildNumber" use="optional"/>
									<xs:attribute name="standardName" use="required"/>
									<xs:attribute name="standardReference" use="optional"/>
									<xs:attribute name="standardMaterial" use="required"/>
									<xs:attribute name="standardBatch" use="optional"/>
									<xs:attribute name="standardAge" use="required"/>
									<xs:attribute name="standardAgeSigma" use="optional"/>
									<xs:attribute name="standardAge40ArAbundance" use="optional"/>
									<xs:attribute name="standardAge40ArAbundanceSigma" use="optional"/>
									<xs:attribute name="standardAgeKAbundance" use="optional"/>
									<xs:attribute name="standardAgeKAbundanceSigma" use="optional"/>
									<xs:attribute name="standardAge40Ar40KRatio" use="optional"/>
									<xs:attribute name="standardAge40Ar40KRatioSigma" use="optional"/>
									<xs:attribute name="decayConstant40ArTotal" use="required"/>
									<xs:attribute name="decayConstant40ArTotalSigma" use="required"/>
									<xs:attribute name="decayConstant40ArBeta" use="optional"/>
									<xs:attribute name="decayConstant40ArBetaSigma" use="optional"/>
									<xs:attribute name="decayConstant40ArElectron" use="optional"/>
									<xs:attribute name="decayConstant40ArElectronSigma" use="optional"/>
									<xs:attribute name="activity40ArBeta" use="optional"/>
									<xs:attribute name="activity40ArBetaSigma" use="optional"/>
									<xs:attribute name="activity40ArElectron" use="optional"/>
									<xs:attribute name="activity40ArElectronSigma" use="optional"/>
									<xs:attribute name="avogadroNumber" use="optional"/>
									<xs:attribute name="solarYear" use="optional"/>
									<xs:attribute name="atomicWeightK" use="optional"/>
									<xs:attribute name="atomicWeightKSigma" use="optional"/>
									<xs:attribute name="abundanceRatio40KK" use="optional"/>
									<xs:attribute name="abundanceRatio40KKSigma" use="optional"/>
									<xs:attribute name="irradiationName" use="optional"/>
									<xs:attribute name="irradiationReactorName" use="required"/>
									<xs:attribute name="irradiationEndDateandTime" use="optional"/>
									<xs:attribute name="irradiationPower" use="optional"/>
									<xs:attribute name="jValue" use="required"/>
									<xs:attribute name="jValueSigma" use="required"/>
									<xs:attribute name="correction40Ar36ArAtmospheric" use="required"/>
									<xs:attribute name="correction40Ar36ArAtmosphericSigma" use="required"/>
									<xs:attribute name="correction40Ar36ArCosmogenic" use="optional"/>
									<xs:attribute name="correction40Ar36ArCosmogenicSigma" use="optional"/>
									<xs:attribute name="correction38Ar36ArAtmospheric" use="required"/>
									<xs:attribute name="correction38Ar36ArAtmosphericSigma" use="required"/>
									<xs:attribute name="correction38Ar36ArCosmogenic" use="optional"/>
									<xs:attribute name="correction38Ar36ArCosmogenicSigma" use="optional"/>
									<xs:attribute name="correction39Ar37ArCalcium" use="required"/>
									<xs:attribute name="correction39Ar37ArCalciumSigma" use="required"/>
									<xs:attribute name="correction38Ar37ArCalcium" use="required"/>
									<xs:attribute name="correction38Ar37ArCalciumSigma" use="required"/>
									<xs:attribute name="correction36Ar37ArCalcium" use="required"/>
									<xs:attribute name="correction36Ar37ArCalciumSigma" use="required"/>
									<xs:attribute name="correction40Ar39ArPotassium" use="required"/>
									<xs:attribute name="correction40Ar39ArPotassiumSigma" use="required"/>
									<xs:attribute name="correction38Ar39ArPotassium" use="required"/>
									<xs:attribute name="correction38Ar39ArPotassiumSigma" use="required"/>
									<xs:attribute name="Chlorineproductionratio38Ar36Ar" use="optional"/>
									<xs:attribute name="ChlorineproductionratioSigma38Ar36Ar" use="optional"/>
									<xs:attribute name="correctionKCa" use="optional"/>
									<xs:attribute name="correctionKCaSigma" use="optional"/>
									<xs:attribute name="correctionKCl" use="optional"/>
									<xs:attribute name="correctionKClSigma" use="optional"/>
									<xs:attribute name="correctionCaCl" use="optional"/>
									<xs:attribute name="correctionCaClSigma" use="optional"/>
									<xs:attribute name="parametersDescription" use="optional"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="sampleID" use="required"/>
						<xs:attribute name="igsn" use="required"/>
						<xs:attribute name="longitude" use="required"/>
						<xs:attribute name="latitude" use="required"/>
						<xs:attribute name="analystName" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
